<nav class="navbar navbar-expand-lg navbar-light bg-light">
   <a   [routerLink]="['/']">TravelApp</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor03">
    <ul class="navbar-nav mr-auto">
         <li class="nav-item"
         [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}"><a [routerLink]="['/Hotel']">Hotel</a></li>
          <li class="nav-item"
         [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}"><a [routerLink]="['/Sidebar']">Sidebar</a></li>
      <li class="nav-item">
        <a class="nav-link" href="#">Pricing</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About</a>
      </li>
    </ul>
<button mat-raised-button color="primary" [matMenuTriggerFor]="menu">
      Open Menu
    </button>

    <mat-menu #menu="matMenu">
     
      <button mat-menu-item disabled>
        <mat-icon>voicemail</mat-icon>
        <span>Check voicemail</span>
      </button>
      <button mat-menu-item>
        <mat-icon>payment</mat-icon>
        <span>payment</span>
      </button>
           <button mat-menu-item [matMenuTriggerFor]="subMenu">
        <mat-icon>settings</mat-icon>
        <span>Settings</span>
      </button>
    </mat-menu>


    <mat-menu #subMenu="matMenu">
        <button mat-menu-item >General</button>
        <button mat-menu-item>Display</button>
        <button mat-menu-item>Profile</button>
        <button mat-menu-item (click)="changeMenu()">menu-bar</button>
    </mat-menu>

  </div>
</nav>